Repository ejgallego/coq-serapi, pull requests merged in 2020-05, with the labels that each got.

#204 [build] Bump minimum sexplib version to v0.13
  CHANGES.md
  coq-serapi.opam
Labels: kind: infrastructure

#203 [serapi] New option `--error-recovery` to enable error recovery.
  CHANGES.md
  sertop/sercomp.ml
  sertop/sertok.ml
  sertop/sertop_arg.ml
  sertop/sertop_arg.mli
  sertop/sertop_async.ml
  sertop/sertop_bin.ml
  sertop/sertop_init.ml
  sertop/sertop_init.mli
Labels: kind: documentation, kind: enhancement, kind: upstream, part: async, protocol

#206 coqtop --topfile will create document using Stm.Interactive and not Stm.VoDoc
  sertop/sertop_sexp.ml
Labels: kind: bug

#205 [serapi] New query `Comments` to return all comments in a document
  CHANGES.md
  serapi/serapi_protocol.ml
  serapi/serapi_protocol.mli
Labels: kind: enhancement, kind: upstream, protocol
