Repository ejgallego/coq-serapi, pull requests merged in 2021-04, with the labels that each got.

#237 Port CI from Travis to GH Actions
  .github/workflows/ci.yml
  .travis.yml
  README.md
Labels: kind: infrastructure

#236 [serapi] New query `(Query () (LogicalPath file))`
  CHANGES.md
  serapi/serapi_protocol.ml
  serapi/serapi_protocol.mli
Labels: kind: enhancement, protocol

#239 [serapi] New command `SaveDoc` to save .vo files.
  CHANGES.md
  serapi/serapi_doc.ml
  serapi/serapi_doc.mli
  serapi/serapi_protocol.ml
  serapi/serapi_protocol.mli
  sertop/sertop_async.ml
  sertop/sertop_ser.ml
  sertop/sertop_sexp.ml
Labels: kind: enhancement, kind: upstream, protocol
